img {

}

.seat-map-container {
    position: relative;
}

.seat {
    position: absolute;
    border-radius: 50%;
    border: none;
}

.seats {
    
}

.seat.available {
    background-color: lightseagreen;
}

.seat.occupied {
    background-color: lightcoral;
}

body {
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}