{% extends "base.html" %} {% block content %}

<div class="seat-map-container">
    <!-- 座席レイアウトの画像 -->
    <img
        src="{{ url_for('static', filename='images/youth_station.png') }}"
        alt="Room Layout"
        usemap="#seatMap"
        style="position: relative; z-index: 1"
    />

    <!-- 色付きの要素 -->
    <div id="seats">
        {% for seat in seats %} {% if seat.status == "available" %}
        <button
            type="button"
            class="seat available"
            id="seat{{ seat.id }}"
            style="{{ seat.button_pos }}"
        >
            {{ seat.id + 1 }}
        </button>
        {% else %}
        <button
            type="button"
            class="seat occupied"
            id="seat{{ seat.id }}"
            style="{{ seat.button_pos }}"
        >
            {{ seat.id + 1 }}
        </button>
        {% endif %} {% endfor %}
    </div>

    <!-- イメージマップ -->
    <map name="seatMap">
        {% for seat in seats %}
        <area
            class="seat"
            shape="circle"
            coords="{{ seat.area_pos }}"
            onclick="updateSeatStatus({{ seat.id }})"
        />
        {% endfor %}
    </map>

    <button
        type="button"
        class="btn btn-danger"
        style="margin-left: 30px"
        id="resetSeatsButton"
        onclick="resetSeatsStatus()"
    >
        リセット
    </button>
</div>

{% endblock %}
