{% extends "base.html" %}
{% block content %}

    <div class="seat-map-container">
        <!-- 座席レイアウトの画像 -->
        <img src="{{ url_for('static', filename='images/youth_station.png') }}" alt="Room Layout" usemap="#seatMap" style="position: relative; z-index: 1">

        <!-- 色付きの要素 -->
        <div id="seats">
            {% for seat in seats %}
                {% if seat.status == "available" %}
                    <button disabled type="button" class="seat available" id="seat{{ seat.id }}" style="{{ seat.button_pos }}" ></button>
                {% else %}
                    <button disabled type="button" class="seat occupied" id="seat{{ seat.id }}" style="{{ seat.button_pos }}"></button>
                {% endif %}
            {% endfor %}
        </div>

        <!-- イメージマップ -->
        <map name="seatMap">
                {% for seat in seats %}
                    <area class="seat" shape="circle" coords="{{ seat.area_pos }}">
                {% endfor %}
        </map>
    </div>

    <button type="button" class="btn btn-primary" id="updateSeatsButton" onclick="updateSeats()">更新</button>

{% endblock %}